* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

body {
    background-color: #444444;
}

header {
    display: flex;
    justify-content: space-between; 
}

header > p {
    display: inline-block;
    margin: 10px 5px;
}

.button {
    padding: 5px 15px;
    font-size: larger;
    background-color: #000000;
    color: white;
    border-radius: 10px;
    margin: 15px auto;
    display: block;
}

.button:hover {
    background-color: #222222;
}

.content {
    text-align: center;
}

.title {
    font-size: xx-large;
    font-weight: bold;
    margin: 15px auto;
    width: 50%;
    display: block;
}

.description {
    margin: 15px auto;
    width: 30%;
    font-size: large;
    display: block;
}

.highscores {
    border-width: 1px;
    border-style: dotted;
    background-color: transparent;
}

.highscores:hover {
    background-color: lightgrey;
}