* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

body {
    background-color: #222222;
}

header {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 15%;
}

header > p {
    display: inline-block;
    margin: 10px;
}

.button {
    padding: 5px 15px;
    font-size: larger;
    background-color: #000000;
    color: white;
    border-radius: 10px;
    margin: 25px auto;
    display: block;
}

.button:hover {
    background-color: #333333;
}

.content {
    text-align: center;
}

.title {
    font-size: xx-large;
    font-weight: bold;
    margin: 15px auto;
    width: 50%;
    display: block;
}

.description {
    margin: 15px auto;
    width: 30%;
    font-size: large;
    display: block;
}

.highScoresButton {
    border-width: 1px;
    border-style: dotted;
    background-color: transparent;
    padding-bottom: 3px;
}

.highScoresButton:hover {
    background-color: #333333;
}

.inputBox {
    margin: 5px;
    display: inline-block;
    color: black;
}

button.submit {
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    padding: 1px;
    font-size: medium;
    border-radius: 5px;
}

.highScore {
    font-size: x-large;
    color: #aa22ff;
    padding: 10px;
}

#holder {
    margin: auto;
    width: 25%;
    text-align: center;
}

#holder button {
    margin-left: 0;
}

@media screen and (max-width: 992px) {
    .title {
        width: 75%;
        font-size: x-larger;
    }

    .description {
        width: 50%;
        font-size: large;
    }

    .button {
        padding: 5px;
        font-size: medium;
    }

    #buttonHolder {
        width: 50%;
    }
}